.row{style: "margin-left:-12px;margin-right:-12px;"}
  %ol.breadcrumb
    %li
      %a{href: "javascript:void(0);", onclick: "window.history.back();"} 返回
    %li
      = ENV['APP_RUNNER']
      @
      = ENV['HOSTNAME']
      (
      = ENV['PLATFORM_OS']
      )

  - config = JSON.parse(IO.read(@page_path))
  - heads = config["headings"] || []
  - width = config["width"] || (heads.empty? ? [] : Array.new(heads.length) { "#{100.0/heads.length}%" })
  :css
    caption, .table>thead>tr>th, .table>tbody>tr>td { padding-left: 10px; }
  %table.table.table-condensed.table-bordered.smart-table
    %caption= "#{File.basename(@page_path, ".json")}@#{File.mtime(@page_path)}"
    %thead
      %tr
        - heads.each_with_index do |head, th_index|
          %th{style: "width:#{width.dig(th_index)};"}= head
    %tbody
      - (config["rows"] || [[]]).each_with_index do |items, row_index|
        %tr
          - items.each do |item|
            %td{style: "width:#{width.dig(row_index)};word-break:break-all;"}= item
